.gridStyle{
    padding: 100px 100px 100px 30px;
     height: 80vh;
      width: 380px; 
    
}
.btnstyle{
    margin: 8px 0px;
    background-color:primary;
}
.linkstyle{
    padding: 0px 0px 0px 8px;
    color: #0878ea;
}
.linkstl{
    color: #0878ea;
}
.linkstle{
    color: #0878ea

}
.checkStyle{
    color: #0878ea;
    padding: 10px 0px 0px 10px;
}
.fontColor{
    color: grey; 
}
.fontcol{
    color: #696161;
    font-weight: 600 ;
}
.sam{
    height: 10vh;
     width: 1000px;
      margin: -25px auto;
       padding: 0px 0px 0px 30px;
}
.bt{
    padding: 0px;
     color: grey;
}
.paperStyle{
    padding: 0px 0px 0px 0px;
    height: 100vh;
    width: 420px;
}
