.leftStyle{
    padding: 0px;
    height: 100vh;
    width: 250px;
    margin: 20px auto
}
.grids{
    padding: 0px 0px 0px 0px;
     height: 80vh;
      width: 420px; 
    
}

.fontcol{
    color: #696161;
    font-weight: 600 ;
}
.gridstyle{
    padding: 0px 170px 0px 0px 
}

.pstyle{
    margin: 0px 0px 0px 30px;
     font-size: 20px;
      color: #696161;
}
.headingStyle1{
    margin: 0px 0px 0px 30px;
    font-weight: 500;
    font-size: 65px;
}
.headingStyle2{
    margin: 10px 0px 0px 30px;
     font-weight: 500;
      font-size: 30px;
}
.pstyle2{
    margin: 0px 0px 0px 30px;
     font-size: 20px;
      color: #696161
}
.spacebetween{
    padding: 0px 0px 0px 20px;
    color: #0878ea;
}
.spacebetween2{
    padding: 10px 0px 0px 20px;
    color: #0878ea;

}

.fontStyle{
    color: #0878ea;
    font-weight: 500;
    font-size: 20px;
    margin: 0px 0px 0px 5px;

}
.avatarStyle{
    padding: 20px 0px 0px 25px
}
.spanStyle{
    padding: 0px 0px 0px 20px;
     font-weight: 400;
}
.buttonStyle{
     font-weight: 600;
      padding: 0px 0px 10px 80px; 
}
.divStyle{
    padding: 0px 0px 40px 0px;
}
.divStyle2{
    padding: 0px 0px 300px 15px;
}
.headingStyle3{
    margin: 10px 0px 0px 30px;
    font-weight: 1200;
    font-size: 30px;
}
.iconStyle{
    color: #0878ea;
    font-weight: 500;
    margin: 0px 0px 0px 5px;
}
.iconStyle2{
    color: #0878ea;
    font-weight: 500;
    margin: 0px 0px 0px 5px;
}
.space{
    padding: 40px 0px 0px 0px;
}
.imagestyle{
    border-radius: 50%;
    width: 35px;
}
.appbarstyle{
    padding: 0px 0px 0px 0px;

}
.menuStyle{
    
    color: #696161;
}
.paperStyle{
    padding: 0px 0px 0px 0px;
    height: 120vh;
    width: 420px;
}
