
.gridStyle{
    padding: 100px 100px 100px 30px;
     height: 80vh;
      width: 380px; 
    
}
.bt{
    padding: 60px 0px 0px 0px;
     color: grey;
}
.fontcol{
    color: #696161;
    Font-weight: 600 ;
}

.link{
    color:primary;
    padding: 0px 15px 0px 0px
}
.linkstyle{
    color: primary;
    padding: 0px 0px 0px 8px;
}
.btnstyle{
    margin: 8px 0px;
    background-color:primary;
}
.paperStyle{
    padding: 0px 0px 0px 0px;
    height: 100vh;
    width: 420px;
}



